extends layout

block content
  h1 SMS Notifications

  p.
    Use this form to send MMS notifications to any subscribers.

  form(action='/message/send', method='POST')

    // The text of the message to send
    .form-group
      label(for='message') Enter a message
      input.form-control(type='text', name='message',
        placeholder='New message?')

    // An optional image URL
    .form-group
      label(for='imageUrl') (Optional) Image URL to send in an MMS
      input.form-control(type='text', name='imageUrl',
        placeholder='http://fake.twilio.com/some_image.png')

    button.btn.btn-primary(type='submit') Send Yourself a Message!
    
    div.
    
        <input size="30" placeholder="Search" name="search" id="search" type="text" title="Search">
        <button type="submit" id="submit" name="submit">Search</button>
          
        <script>
            function gcseCallback(response) {
                console.log(response);
            }
          (function() {
            var cx = '007271074161097264321:keiwv-_atxe';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//cse.google.com/cse.js?cx=' + cx + '&amp;callback=gcseCallback';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();

          $(document).ready(function (){
            $("#submit").click(function (){  
                $.ajax({
                    url: 'https://www.googleapis.com/customsearch/v1?key=AIzaSyBcb5-Y-_4xba-AKItQOm9EixY51bV7VNY&cx=007271074161097264321:keiwv-_atxe&q=' + $("#search").val(),
                    dataType: 'json',
                    success: function(response){
                        console.log(response);
                    }); 
                });
            });    
          });
          
        </script>
        <gcse:search></gcse:search>
        **<gcse:searchresults enableImageSearch="true" defaultToImageSearch="true">**