#main {
    padding: 70px 0px 0px 0px;
}

.panel {
    
}

#search-bar {
    margin: 0px 0px 24px 0px;
    overflow: hidden;
}

#search-google-input {
    float: left;
    width: 480px;
    margin: 0px 16px 0px 0px;
}

#search-google-button {
    float: left;
}

.gallery {
    overflow: hidden;
}

.slide-selected {
    border: 1px solid rgb(51, 115, 169) !important;
}

/* Source: http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div */
.vertical-align {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slide-box {
    box-sizing: border-box;
    float: left;
    height: 120px;
    width: 120px;
    margin: 0px 13px 13px 0px;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
}

.slide-href {
    
}

.slide-image {
    display: block;
    margin: auto;
    max-height: 110px;
    max-width: 110px;
}
