#main {
    padding: 70px 0px 0px 0px;
}

.panel {
    
}

#search-bar {
    margin: 0px 0px 24px 0px;
    overflow: hidden;
}

#search-google-input {
    float: left;
    width: 480px;
    margin: 0px 16px 0px 0px;
}

#search-google-button {
    float: left;
}

.gallery {
    overflow: hidden;
}

.slide-selected {
    border: 1px solid rgb(51, 115, 169) !important;
}

.slide-box {
    position: relative;
    box-sizing: border-box;
    float: left;
    height: 120px;
    width: 120px;
    margin: 0px 17px 17px 0px;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
}

#gallery-content div:nth-child(5),
#gallery-content div:nth-child(10) {
    margin-right: 0px;
}

.slide-href {
    
}
/*
    Horizontally and vertically center images. Source:
        http://stackoverflow.com/questions/15443230/vertically-center-responsive-image
*/
.slide-image {
    display: block;
    max-height: 110px;
    max-width: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#modal-select-image-button {
    position: absolute;
    top: 15px;
    left: 15px;
}

h3.title {
    left: 170px !important;
}