#main {
    padding: 50px 0px 0px 0px;
}

#header h1 {
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    margin: 0px 0px 30px 0px;
}

#panel-left {
    background-color: rgb(133, 207, 254);
}

#instructions-container {
    width: 454px;
    padding-right: 16px;
    border: 1px solid rgb(66, 139, 202);
}

#instructions-container ol li {
    margin-bottom: 16px;
    font-size: 14px;
}

div.form-group {
    margin-bottom: 30px;
}

form#page-form {
    width: 100%;
    margin-bottom: 30px;
}

input {
    box-sizing: border-box;
}

#confirm-container {
    height: 54px;
    width: 100%;
    margin-bottom: 30px;
}

#confirm-label {
    width: 100%;
}

#confirm-visible {
    float: left;
    width: 326px;
    margin-right: 16px;
}

#validation {
    float: left;
    width: 326px;
}

#search-google-container {
    width: 100%;
    margin: 0px 0px 30px 0px;
    overflow: hidden;
}

#search-google-input {
    float: left;
    width: 482px;
    margin: 0px 16px 0px 0px;
}

#search-google-button {
    float: left;
}

#gallery-container {
    overflow: hidden;
    margin-bottom: 13px;
}

#gallery-content div:nth-child(5),
#gallery-content div:nth-child(10) {
    margin-right: 0px;
}

.slide-selected {
    border: 1px solid rgb(51, 115, 169) !important;
}

.slide-box {
    position: relative;
    box-sizing: border-box;
    float: left;
    height: 120px;
    width: 120px;
    margin: 0px 17px 17px 0px;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
}

/*
    Horizontally and vertically center images. Source:
        http://stackoverflow.com/questions/15443230/vertically-center-responsive-image
*/
.slide-image {
    display: block;
    max-height: 110px;
    max-width: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#modal-select-image-button {
    position: absolute;
    top: 13px;
    left: 15px;
}

h3.title {
    left: 170px !important;
}

#message-container {
    width: 100%;
    height: 55px;
}

#message {
    float: left;
    width: 580px;
    margin-right: 16px;
}

#send-text {
    float: left;
}