#main {
    padding: 70px 0px 0px 0px;
}

.panel {
    
}

#search-bar {
    margin: 0px 0px 24px 0px;
}

#search-google-input {
    float: left;
    width: 480px;
    margin: 0px 16px 0px 0px;
}

#search-google-button {
    float: left;
}

.gallery {
    margin-top: 30px;
}

.slide-selected {
    border: 1px solid rgb(51, 115, 169);
}

.slide-box {
    box-sizing: border-box;
    float: left;
    height: 130px;
    width: 130px;
    margin: 0px 16px 16px 0px;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    overflow: hidden;
}

.slide-href {
    
}

.slide-image {
    display: block;
    margin: auto;
    max-height: 110px;
    max-width: 110px;
}
