@font-face {
    font-family: "Equip";
    src: url("fonts/EquipLig-webfont.eot");
    src: url("fonts/EquipLig-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/EquipLig-webfont.woff2") format("woff2"),
         url("fonts/EquipLig-webfont.woff") format("woff"),
         url("fonts/EquipLig-webfont.ttf") format("truetype"),
         url("fonts/EquipLig-webfont.svg#equiplight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo";
    src: url("fonts/MuseoSans_500-webfont.eot");
    src: url("fonts/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/MuseoSans_500-webfont.woff2") format("woff2"),
         url("fonts/MuseoSans_500-webfont.woff") format("woff"),
         url("fonts/MuseoSans_500-webfont.ttf") format("truetype"),
         url("fonts/MuseoSans_500-webfont.svg#museo_sans500") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Equip, Arial, sans-serif;
}

#main {
    padding: 50px 0px 0px 0px;
}

#header h1,
#header h3,
#header h3 em {
    font-family: Museo, Equip, Arial, sans-serif !important;
    text-align: center;
}

#header h3 {
    margin-bottom: 60px;
}

#header a {
    font-family: Museo, Equip, Arial, sans-serif !important;
}

a {
    font-family: Equip, Arial, sans-serif;
    text-decoration: none !important;
    color: #333333 !important;
    /* easeInQuad transition from: http://matthewlein.com/ceaser/ */
    transition: all 300ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

a:hover {
    color: rgb(66, 139, 202) !important;
}

a:visited {
    color: #333333 !important;
}

h2 {
    font-family: Museo, Equip, Arial, sans-serif !important;
    margin: 0px 0px 30px 0px;
}

#instructions-container {
    width: 454px;
    padding-right: 15px;
}

#instructions-container ol li {
    margin-bottom: 15px;
    font-size: 14px;
}

div.form-group {
    margin-bottom: 30px;
}

form#page-form {
    width: 100%;
    margin-bottom: 30px;
}

input {
    box-sizing: border-box;
}

button {
    /* easeInQuad transition from: http://matthewlein.com/ceaser/ */
    transition: all 300ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

#confirm-container {
    height: 54px;
    width: 100%;
    margin-bottom: 30px;
}

#confirm-label {
    width: 100%;
}

#confirm-visible {
    float: left;
    width: 327px;
    margin-right: 15px;
}

#validation {
    float: left;
    height: 34px;
    width: 326px;
    border-radius: 4px;
    line-height: 34px;
    color: #ffffff;
    text-align: center;
    background-color: rgb(66, 139, 202);
}

#search-google-container {
    width: 100%;
    margin: 0px 0px 30px 0px;
    overflow: hidden;
}

#search-google-input {
    float: left;
    width: 483px;
    margin: 0px 15px 0px 0px;
}

#search-google-button {
    float: left;
}

#gallery-container {
    overflow: hidden;
    margin-bottom: 13px;
}

#gallery-content div:nth-child(5),
#gallery-content div:nth-child(10) {
    margin-right: 0px;
}

.slide-selected {
    border: 1px solid rgb(51, 115, 169) !important;
}

.slide-box {
    position: relative;
    box-sizing: border-box;
    float: left;
    height: 120px;
    width: 120px;
    margin: 0px 17px 17px 0px;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
}

/*
    Horizontally and vertically center images. Source:
        http://stackoverflow.com/questions/15443230/vertically-center-responsive-image
*/
.slide-image {
    display: block;
    max-height: 110px;
    max-width: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#modal-select-image-button {
    position: absolute;
    top: 13px;
    left: 15px;
}

h3.title {
    left: 170px !important;
}

#message-container {
    width: 100%;
    height: 55px;
}

#message {
    float: left;
    width: 595px;
    margin-right: 15px;
}

#message-send-button {
    float: left;
}